<h2>Create new celebrity</h2>

<form method='POST' action='/celebrities'>
  <label for='celebrity-name-input'>Celebrity name</label>
  <input
    id='celebrity-name-input'
    type='text'
    name='name'
    placeholder='Celebrity Name'
  />
  <label for='celebrity-occupation-input'>Occupation</label>
  <input
    id='celebrity-occupation-input'
    type='text'
    name='occupation'
    placeholder='Occupation'
  />
  <label for='celebrity-phrase-input'>Quote</label>
  <input
    id='celebrity-phrase-input'
    type='text'
    name='catchPhrase'
    placeholder='Phrase'
  />
  <button type='submit'>Create celebrity</button>
</form>