<h2>Edit celebrity</h2>

<form method='POST' action='/celebrities/{{celebrity._id}}'>
  <label for='celebrity-name-input'>Celebrity name</label>
  <input
    id='celebrity-name-input'
    type='text'
    name='name'
    placeholder='Celebrity Name'
    value='{{celebrity.name}}'
  />
  <label for='celebrity-occupation-input'>Occupation</label>
  <input
    id='celebrity-occupation-input'
    type='text'
    name='occupation'
    placeholder='Occupation'
    value='{{celebrity.occupation}}'
  />
  <label for='celebrity-phrase-input'>Quote</label>
  <input
    id='celebrity-phrase-input'
    type='text'
    name='catchPhrase'
    placeholder='Phrase'
    value='{{celebrity.catchPhrase}}'
  />
  <button type='submit'>Edit celebrity</button>
</form>